<div class="list">
  {{#each list}}
  <div class="list-item">
    <ul>
      <li>Name: {{this.fullName}}</li>
      <li>Email: {{this.email}}</li>
      <li>Mobile: {{this.mobile}}</li>
      <li>City: {{this.city}}</li>
    </ul>
    <a href="">Modify</a>
    <a href="">Delete</a>
  </div>
  {{/each}}
</div>